<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :foto %>
  </div>

  <div class="field">
    <%= f.label :icon %><br>
    <%= f.file_field :icon %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label :productos %><br>
    <%= f.text_field :productos %>
  </div>
  <div class="field">
    <%= f.label :anticipacion %><br>
    <%= f.text_field :anticipacion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <div class="field">
    <%= f.label :info_general %><br>
    <%= f.cktext_area :info_general %>
  </div>
  <div class="field">
    <%= f.label :servicios %><br>
    <%= f.cktext_area :servicios %>
  </div>
  <div class="field">
    <%= f.label :domicilio %><br>
    <%= f.cktext_area :domicilio %>
  </div>

<hr>

  <div class="field">
    <%= f.label :color %><br>
    <%= f.color_field :color %>
  </div>

  <div class="field">
    <%= f.label :servicios_contacto %><br>
    <%= f.text_field :servicio_list %>
  </div>

  <div class="field">
    <%= f.label :domicilio_contacto %><br>
    <%= f.text_field :domicilio_list %>
  </div>

  <div class="field">
    <%= f.label :foto_de_portada %><br>
    <%= f.file_field :cover_photo %>
  </div>

<hr>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">              
      <span class="btn btn-default">
        <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
        <%= file_field_tag "images_p[]", type: :file, multiple: true %>
      </span>
    </div>    
  </div>
</div>

<div id="photos_p"><%= render 'provider_attachments/list' %></div>

  <div class="actions">
    <%= f.submit class: "button button_purple" %><%= link_to "Ver Proveedor", @provider, class: "button button_yellow" %>
  </div> 
<% end %>

<br><br>
