<div id="option" class="grey">
  <div class="container">
    <h1>
      +15 proveedores para tu evento <span class="curly"> evento </span>
    </h1>
    <p>Te dejamos algunas muestras de eventos reales para que te inspires
    </p>

<div id="busqui">
<%= search_form_for @q do |f| %>
<%= f.search_field :nombre_or_productos_cont, placeholder: "¿Qué estás buscando?"  %>
<%= f.submit "Buscar", class: "buttoni button_purple" %>
<% end %>
</div>


<div class="row">
  <% @providers.each do |provider| %>
  <div class="col-md-3 col-sm-6">
    <div id="prov_reales">
      <%= link_to provider do %>
      <div class="imagen">
      <%= image_tag provider.provider_attachments[0].image2.url %>
      </div>
      <h2><%= provider.nombre %></h2>
      <p><%= provider.productos %><p>
    </div>
    <% end %>
  </div>
  <% end %>


</div>

  </div>
</div>

<div class="container">
<% if current_user %>
<%= link_to 'New Provider', new_provider_path %>
<% end %>
</div>