<div id= "banner" class="cover_brides">
  <div id="fondi">
    <div id="backi">
  <h1 class=""><%=@provider.nombre%></h1> <br>
    </div>
  </div>
</div>


  <div class="container">
    <div id="magic">
     <div class="row">
      <!-- col6 -->
      <div class="col-md-6">
        <div id="izq1">
          <h2><%=@provider.nombre %></h2>
          <p><%=@provider.productos%></p>
          <h6><span class="fa fa-calendar"></span> Citas: <%=@provider.anticipacion%></h6>
          <h6><span class="fa fa-phone"></span><a href="<%=@provider.telefono %>"> Teléfono: <%=@provider.telefono %></a></h6>
          <h6><span class="fa fa-envelope"></span><a href="mailto:<%=@provider.correo%>?Subject=Solicitud%20de%20información"> <%=@provider.correo%></a></h6>
          <p>Servicio:</p>
          <h6 class="star-rating" data-score=<%=@provider.average_servicio%>> </h6>
          <p>Atención:</p>
          <h6 class="star-rating" data-score=<%=@provider.average_atencion%>> </h6>
          <p>Calidad:</p>
          <h6 class="star-rating" data-score=<%=@provider.average_calidad%>> </h6>

          <%= link_to "Más información", root_path, class: "button button_purple" %>
        </div>
      </div>
      <!-- col6 -->
      <div class="col-md-6">
        <div id="dre">
          
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
    <div id="magic">
    <div class="row">     
      <div class="col-md-6">
                <div id="izq2">
          <h3>Información General:</h3>
          <p><%= @provider.info_general.html_safe %></p>

          <h3>Servicios Ofrecidos:</h3>
          <p><%= @provider.servicios.html_safe %></p>

          <h3>Detalles de Servicio a Domicilio:</h3>
          <p><%= @provider.domicilio.html_safe %></p>
        </div>
      </div>
      <div class="col-md-6">
      
      </div>  
      </div>
    </div>
    </div>





<div class="container">
  <div id="magici">
<div id="comments">
  <%= form_for [@provider, @provider_comment] do |f| %>

      <div class="row">
      <div class="col-sm-6">
      <div class="field">
        <%= f.label :Nombre %><br>
        <%= f.text_field :nombre, required:true  %>
      </div>
      </div>
      </div>

      
      <div class="field">
        <%= f.label :mensaje %><br>
        <%= f.text_area :mensaje, required:true  %>
      </div>
      
      <div class="row"> 
      <div class="col-xs-4">
      <div class="field">
        <%= f.label :servicio %><br>
        <div id="star-rating1"></div>
      </div>
      </div>

      <div class="col-xs-4">
      <div class="field">
        <%= f.label :atencion %><br>
        <div id="star-rating2"></div>
      </div>
      </div>

      <div class="col-xs-4">
      <div class="field">
        <%= f.label :calidad %><br>
        <div id="star-rating3"></div>
      </div>
      </div>
      </div>

<br><br>
      <div class="actions">
        <%= f.submit "Añadir Comentario", class: "button button_yellow" %> <br><br>
      </div>

  <% end %>

  </div>
  </div>
</div>

<div class="container">
  <div id="magici">
  <% @provider_comments.each_with_index do |provider_comment, i| %>
  <div class="col-sm-6">
  <div id="cuadro">
  <h3><%= provider_comment.nombre %></h3>
  <p class="down"><%= provider_comment.try(:mensaje).truncate(250) %></p>
  
  <div class="row">
  
  <div class="col-xs-4">
  <p>Servicio:</p>
  <h6 class="star-rating" data-score=<%=provider_comment.servicio%>> </h6>
</div>
  
  <div class="col-xs-4">
  <p>Atención:</p>
  <h6 class="star-rating" data-score=<%=provider_comment.atencion%>> </h6>
</div>
  
  <div class="col-xs-4">
  <p>Calidad:</p>
  <h6 class="star-rating" data-score=<%=provider_comment.calidad%>> </h6>
  </div>
  </div>
  <% if current_user %>
  <br>
  <%= link_to "Eliminar Comentario", provider_provider_comment_path(@provider, provider_comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
  </div>
  <% end %>
</div>
</div>

<div class="container">
  <div class="center">
  <%= will_paginate @provider_comments %>
  </div>
</div>





<p>
  <strong>Foto:</strong>
  <%= @provider.foto %>
</p>

<% if current_user %>
<div class="container">
<%= link_to 'Editar Proovedor', edit_provider_path(@provider) %>
</div>
<% end %>



<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


<script>
  $('#star-rating1').raty({
    path: '/assets/',
    scoreName: 'provider_comment[servicio]'
  });

  $('#star-rating2').raty({
    path: '/assets/',
    scoreName: 'provider_comment[atencion]'
  });

    $('#star-rating3').raty({
    path: '/assets/',
    scoreName: 'provider_comment[calidad]'
  });
</script>