<div id="coups">

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-01.svg" %>
									<h3>Brides & Dreams</h3>
									<p>Vestidos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-02.svg" %>
									<h3>Tux & Mores</h3>
									<p>Trajes</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-03.svg" %>
									<h3>Pasteles D' Claudia</h3>
									<p>Pasteles</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-04.svg" %>
									<h3>Latin Graf</h3>
									<p>Invitaciones</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-05.svg" %>
									<h3>Detalles Mágicos</h3>
									<p>Zapatos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-06.svg" %>
									<h3>Son Latino</h3>
									<p>Grupo Musical</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-07.svg" %>
									<h3>Nissi</h3>
									<p>Agencia de Viajes</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-08.svg" %>
									<h3>Gabriella Padilla</h3>
									<p>Fotos y Video</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-09.svg" %>
									<h3>Pixen</h3>
									<p>Cabina de Fotos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-10.svg" %>
									<h3>Pelo Pelo</h3>
									<p>Salón de Belleza</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-11.svg" %>
									<h3>JoyMas</h3>
									<p>Joyería</p>
									<% end %>
								</div>
							</div>

						</div>