<div id="citas">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="citas_izq">
          <ul>
            <%= link_to citas_path do %>
            <li>
              <h4 class="<%= 'active' if current_page?(citas_path) %>">Todas las citas</h4>
            </li>
            <% end %>

            <%= link_to por_confirmar_path do %>
            <li>
              <h4 class="<%= 'active' if current_page?(por_confirmar_path) %>">Citas por confirmar</h4>
            </li>
            <% end %>
            <% @providers.each do |provider|%>
              <%= link_to provider_appointments_path(provider) do %>
            <li>
              <h4 class= "<%= 'active' if current_page?(provider_appointments_path(provider)) %>"><%= provider.nombre %></h4>
            </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div id="citas_der">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>

$(function() { // document ready
  $('#calendar').fullCalendar({
    defaultView: 'agendaWeek',
header: {
        left: 'prev,next today',
        center: 'title',
        right: 'agendaDay,agendaTwoDay,agendaWeek,month'
      },
    allDaySlot: false,
    resources: [
        { id: 'a', title: '<%=@appointments.last.provider.nombre %>' }
    ],
    events: '/providers/<%=@appointments.last.provider.slug %>/appointments.json'
  });  
});

</script>
