<div id= "banner" class="cover_home">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Encuentra todo lo que necesites para tus <span class="curly">eventos</span> en Guatemala</h1> <br>
	<p class="">No importa qué estés buscando, encuentra a los mejores proveedores para eventos en Guatemala</p>
		</div>
	</div>
</div>


<div id="option" class="grey">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<h1>Cosas para <span class="curly">ella</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md-4">
					<div id="prov">
					<%= image_tag "portal_icon-01.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-4">
					<div id="prov">
					<%= image_tag "portal_icon-05.png" %>
					<h3>Detalles Mágicos</h3>
					<p>Zapatos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-4">
					<div id="prov">
					<%= image_tag "portal_icon-10.png" %>
					<h3>Pelo Pelo</h3>
					<p>Salón de Belleza</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4">
				<div id="prov_image">
				<%= image_tag "home1.png" %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ella -->


<div id="option">
	<div class="container">
		<div class="row">

			<div class="col-md-4 hidden-sm hidden-xs">
				<div id="prov_image">
				<%= image_tag "home2.png" %>
				</div>
			</div>

			<div class="col-md-8">
			<h1>Cosas para <span class="curly">él</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md- col-md-offset-3">
					<div id="prov">
					<%= image_tag "portal_icon-02.png" %>
					<h3>Tux & more</h3>
					<p>Trajes</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4 visible-sm visible-xs">
				<div id="prov_image">
				<%= image_tag "home2.png" %>
				</div>
			</div>


		</div>
	</div>
</div>





<!-- todos -->

<div id="option" class="grey">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<h1>Cosas para <span class="curly">la fiesta</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-06.png" %>
					<h3>Son Latino</h3>
					<p>Grupo Musical/Disco</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-11.png" %>
					<h3>Joymas</h3>
					<p>Joyería</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-08.png" %>
					<h3>Gabriella padilla</h3>
					<p>Fotos y Video</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-07.png" %>
					<h3>Nissi</h3>
					<p>Agencia de Viajes</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-03.png" %>
					<h3>Pasteles D' Claudia</h3>
					<p>Pasteles</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-04.png" %>
					<h3>Latin Graf</h3>
					<p>Invitaciones</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "portal_icon-09.png" %>
					<h3>Pixen</h3>
					<p>Cabina de Fotos</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4">
				<div id="prov_image">
				<%= image_tag "home3.png" %>
				</div>
			</div>
		</div>
	</div>
</div>







<div id="option">
	<div class="container">
		<h1>
			<span class="curly">Eventos</span> tan reales como el tuyo
		</h1>
		<p>Te dejamos algunas muestras de eventos reales para que te inspires
		</p>
<div class="row">

<% @events.each do |event| %>
	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<%= link_to event do %>
			<div class="imagen">
			<%= image_tag event.event_attachments[0].image.url %>
			</div>
			<h3><%=event.categoria %></h3>
			<h2><%=event.nombre %></h2>
			<p><%=event.fecha %><p>
			<h5><%=event.lugar %></h5>
			<% end %>
		</div>
	</div>
<% end %>


</div>
<div class="but">
<%= link_to "Ver todos los eventos", events_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>


<div id="option" class="grey">
	<div class="container">
		<h1>
			Tips y consejos para tus <span class="curly">eventos</span>
		</h1>
		<p>Sabemos que organizar un evento puede ser complicado si no tienes experiencia. <br>
Revisa los tips y consejos que te damos para antes, durante y después de tus eventos.</p>
<div class="row">
	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>
</div>
<div class="but">
<%= link_to "Ver todos los tips", root_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>