<div id= "banner" class="cover_home2">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Contamos con todo lo necesario para organizar tu <span class="curly">evento</span></h1> <br>
	<p class="">Encuentra a los mejores proveedores para eventos en Guatemala</p>
		</div>
	</div>
</div>


<div id="option" class="grey">
	<div class="container">
	<div id="bread">
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" >Bodas</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Graduaciones</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')" id="defaultOpen">XV años</button>
  <button class="tablinks" onclick="openCity(event, 'Mexico')">Otros</button>
</div>
	</div>

<div id="London" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "boda01.png" %> </div>
          <div> <%= image_tag "boda02.png" %> </div>
          <div> <%= image_tag "boda03.png" %> </div>
          <div> <%= image_tag "boda04.png" %> </div>
          <div> <%= image_tag "boda05.png" %> </div>
          <div> <%= image_tag "boda06.png" %> </div>
  				<div> <%= image_tag "boda07.png" %> </div>
  				<div> <%= image_tag "boda08.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para la <span class="curly">Boda</span></h1>
					<hr>
					<p>Sabemos lo que tu boda significa para ti y queremos estar ahí para ayudarte y vivirlo contigo. Encuentra con nosotros todo lo necesario para ese día tan especial. Disfruta por igual la planeación y la fiesta. Hagamos juntos que tu boda sea el mejor día de tu vida</p> <br><br>

					<div class="row">
						<%= render 'iconico' %>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de bodas -->

<div id="Paris" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "grad01.png" %> </div>
          <div> <%= image_tag "grad02.png" %> </div>
          <div> <%= image_tag "grad03.png" %> </div>
          <div> <%= image_tag "grad04.png" %> </div>
          <div> <%= image_tag "grad05.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para la <span class="curly">Graduación</span></h1>
					<hr>
					<p>Encuentra todo lo necesario para ese día tan especial. Sabemos lo que significa para ti y queremos estar ahí para ayudarte. Hagamos que tu graduación sea el mejor día de tu vida </p> <br><br>

					<div class="row">
						<%= render 'iconico' %>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de graduaciones -->
<div id="Tokyo" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "xv01.png" %> </div>
          <div> <%= image_tag "xv02.png" %> </div>
          <div> <%= image_tag "xv03.png" %> </div>
          <div> <%= image_tag "xv04.png" %> </div>
          <div> <%= image_tag "xv05.png" %> </div>
          <div> <%= image_tag "xv06.png" %> </div>
				</div>

				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para los <span class="curly">Xv años</span></h1>
					<hr>
					<p>XV años sólo se cumplen una vez y queremos estar ahí para ayudarte a pasarla increíble y vivirlo contigo. Encuentra con nosotros todo lo necesario para ese día tan especial. Disfruta por igual la planeación y la fiesta. Hagamos juntos que tus XVs sean el mejor día de tu vida</p> <br><br>

					<div class="row">
						<%= render 'iconico' %>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de xvs -->

<div id="Mexico" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "otros01.png" %> </div>
          <div> <%= image_tag "otros02.png" %> </div>
          <div> <%= image_tag "otros03.png" %> </div>
          <div> <%= image_tag "otros04.png" %> </div>
          <div> <%= image_tag "otros05.png" %> </div>
          <div> <%= image_tag "otros06.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Otros <span class="curly">Eventos</span></h1>
					<hr>
					<p>Queremos ayudarte en todos tus eventos: no importa si es una Primera Comunión o una fiesta de cumpleaños importante. Encuentra todo lo que necesites para cualquier día especial. Construimos los mejores eventos de Guatemala. </p> <br><br>

					<div class="row">
						<%= render 'iconico' %>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de otros -->

	</div>
</div>










<div id="option">
	<div class="container">
		<h1>
			<span class="curly">Eventos</span> tan reales como el tuyo
		</h1>
		<p>Inspírate con eventos reales y contacta a nuestros proveedores
		</p> <br>
<div class="row">

<% @events.each do |event| %>
	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<%= link_to event do %>
			<div class="imagen">
			<%= image_tag event.event_attachments[0].image.url %>
			</div>
			<h3><%=event.categoria %></h3>
			<h2><%=event.nombre %></h2>
			<p><%=event.fecha %><p>
			<h5><%=event.lugar %></h5>
			<% end %>
		</div>
	</div>
<% end %>


</div>
<div class="but">
<%= link_to "Ver todos los eventos", events_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>



<div id="option" class="grey">
	<div class="container">
		<h1>
			Organiza tu <span class="curly">evento</span> con la ayuda de nuestra comunidad
		</h1>
		<p>Revisa los tips y consejos que te damos para antes, durante y después de tus eventos</p>
<br>

	<div id="blog">
<div id="fm-medium-embed"></div>

<script src="//data.feedmirror.com/embed.js"></script>
<script>
  var fmSettings = {
    feedURL: 'https://data.feedmirror.com/-L84g3FDJkuo9cH6Ibr-.json',
    integration: 'medium-embed',
    linkOutText: 'Seguir Leyendo',
    linkToMediumProfileText: 'Suscríbete a nuestro blog',
    postsCount: 3,
    element: 'fm-medium-embed'
  };
  feedmirror.initialize(fmSettings);
</script>
          
	</div>

	</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:1,
    margin:10
		});
</script>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>