<div id= "banner" class="cover_home">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Encuentra todo lo que necesites para tus <span class="curly">eventos</span> en Guatemala</h1> <br>
	<p class="">No importa qué estés buscando, encuentra a los mejores proveedores para eventos en Guatemala</p>
		</div>
	</div>
</div>


<div id="option" class="grey">
	<div class="container">
	<div id="bread">
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Bodas</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Graduaciones</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">XV años</button>
  <button class="tablinks" onclick="openCity(event, 'Mexico')">Otros</button>
</div>
	</div>

<div id="London" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
  				<div> <%= image_tag "logo2.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para la <span class="curly">Boda</span></h1>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime cum quisquam iure, ad quibusdam officiis accusantium tempore, exercitationem voluptate pariatur, consectetur blanditiis? Ipsa, hic quod est reiciendis vitae libero!</p> <br><br>

					<div class="row">
						<div id="coups">

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-01.svg" %>
									<h3>Brides & Dreams</h3>
									<p>Vestidos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-02.svg" %>
									<h3>Tux & Mores</h3>
									<p>Trajes</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-03.svg" %>
									<h3>Pasteles D' Claudia</h3>
									<p>Pasteles</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-04.svg" %>
									<h3>Latin Graf</h3>
									<p>Invitaciones</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-05.svg" %>
									<h3>Detalles Mágicos</h3>
									<p>Zapatos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-06.svg" %>
									<h3>Son Latino</h3>
									<p>Grupo Musical</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-07.svg" %>
									<h3>Nissi</h3>
									<p>Agencia de Viajes</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-08.svg" %>
									<h3>Gabriella Padilla</h3>
									<p>Fotos y Video</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-09.svg" %>
									<h3>Pixen</h3>
									<p>Cabina de Fotos</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-10.svg" %>
									<h3>Pelo Pelo</h3>
									<p>Salón de Belleza</p>
									<% end %>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= link_to root_path do %>
									<%= image_tag "portal_icon-11.svg" %>
									<h3>JoyMas</h3>
									<p>Joyería</p>
									<% end %>
								</div>
							</div>

						</div>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de bodas -->

<div id="Paris" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
  				<div> <%= image_tag "logo2.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para la <span class="curly">Graduación</span></h1>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime cum quisquam iure, ad quibusdam officiis accusantium tempore, exercitationem voluptate pariatur, consectetur blanditiis? Ipsa, hic quod est reiciendis vitae libero!</p> <br><br>

					<div class="row">
						<div id="coups">
							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-06.svg" %>
									<h3>Son Latino</h3>
									<p>Grupo Musical/Disco</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-11.svg" %>
									<h3>Joymas</h3>
									<p>Joyería</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-08.svg" %>
									<h3>Gabriella padilla</h3>
									<p>Fotos y Video</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-07.svg" %>
									<h3>Nissi</h3>
									<p>Agencia de Viajes</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-03.svg" %>
									<h3>Pasteles D' Claudia</h3>
									<p>Pasteles</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-04.svg" %>
									<h3>Latin Graf</h3>
									<p>Invitaciones</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-09.svg" %>
									<h3>Pixen</h3>
									<p>Cabina de Fotos</p>
								</div>
							</div>

						</div>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de graduaciones -->
<div id="Tokyo" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
  				<div> <%= image_tag "logo2.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Todo para los <span class="curly">Xv años</span></h1>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime cum quisquam iure, ad quibusdam officiis accusantium tempore, exercitationem voluptate pariatur, consectetur blanditiis? Ipsa, hic quod est reiciendis vitae libero!</p> <br><br>

					<div class="row">
						<div id="coups">
							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-06.svg" %>
									<h3>Son Latino</h3>
									<p>Grupo Musical/Disco</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-11.svg" %>
									<h3>Joymas</h3>
									<p>Joyería</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-08.svg" %>
									<h3>Gabriella padilla</h3>
									<p>Fotos y Video</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-07.svg" %>
									<h3>Nissi</h3>
									<p>Agencia de Viajes</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-03.svg" %>
									<h3>Pasteles D' Claudia</h3>
									<p>Pasteles</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-04.svg" %>
									<h3>Latin Graf</h3>
									<p>Invitaciones</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-09.svg" %>
									<h3>Pixen</h3>
									<p>Cabina de Fotos</p>
								</div>
							</div>

						</div>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de xvs -->

<div id="Mexico" class="tabcontent">
	<div id="card">
		<div class="row">
			<div class="col-md-5">
				<div id="fotitos">
				<div class="owl-carousel">
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
          <div> <%= image_tag "logo2.png" %> </div>
          <div> <%= image_tag "prueba.jpg" %> </div>
  				<div> <%= image_tag "logo2.png" %> </div>
				</div>
				</div>
			</div>
			<div class="col-md-7">
				<div id="info">
					<h1>Otros <span class="curly">Eventos</span></h1>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maxime cum quisquam iure, ad quibusdam officiis accusantium tempore, exercitationem voluptate pariatur, consectetur blanditiis? Ipsa, hic quod est reiciendis vitae libero!</p> <br><br>

					<div class="row">
						<div id="coups">
							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-06.svg" %>
									<h3>Son Latino</h3>
									<p>Grupo Musical/Disco</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-11.svg" %>
									<h3>Joymas</h3>
									<p>Joyería</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-08.svg" %>
									<h3>Gabriella padilla</h3>
									<p>Fotos y Video</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-07.svg" %>
									<h3>Nissi</h3>
									<p>Agencia de Viajes</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-03.svg" %>
									<h3>Pasteles D' Claudia</h3>
									<p>Pasteles</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-04.svg" %>
									<h3>Latin Graf</h3>
									<p>Invitaciones</p>
								</div>
							</div>

							<div class="col-xs-4 col-md-2">
								<div id="prov">
									<%= image_tag "portal_icon-09.svg" %>
									<h3>Pixen</h3>
									<p>Cabina de Fotos</p>
								</div>
							</div>

						</div>
						<!-- fin de coups -->
					</div>
					<!-- fin de row -->

				</div>
			</div>
		</div>
		<!-- row -->
	</div>
</div>
	<!-- card -->

<!-- fin de otros -->

	</div>
</div>










<div id="option">
	<div class="container">
		<h1>
			<span class="curly">Eventos</span> tan reales como el tuyo
		</h1>
		<p>Te dejamos algunas muestras de eventos reales para que te inspires
		</p> <br>
<div class="row">

<% @events.each do |event| %>
	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<%= link_to event do %>
			<div class="imagen">
			<%= image_tag event.event_attachments[0].image.url %>
			</div>
			<h3><%=event.categoria %></h3>
			<h2><%=event.nombre %></h2>
			<p><%=event.fecha %><p>
			<h5><%=event.lugar %></h5>
			<% end %>
		</div>
	</div>
<% end %>


</div>
<div class="but">
<%= link_to "Ver todos los eventos", events_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>



<div id="option" class="grey">
	<div class="container">
		<h1>
			Tips y consejos para tus <span class="curly">eventos</span>
		</h1>
		<p>Sabemos que organizar un evento puede ser complicado si no tienes experiencia. <br>
Revisa los tips y consejos que te damos para antes, durante y después de tus eventos.</p>
<br>
<div class="but">
<%= link_to "Ver todos los tips", "https://medium.com/portal-de-bodas", class: "button button_purple button_center" %>
</div>
	</div>
</div>



<script>
	$(".owl-carousel").owlCarousel(
		{
		items:1,
    margin:10,
    autoHeight:true
		});
</script>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>