<div id= "banner" class="cover_home">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Encuentra todo lo que necesites para tus <span class="curly">eventos</span> en Guatemala</h1> <br>
	<p class="">No importa qué estés buscando, encuentra a los mejores proveedores para eventos en Guatemala</p>
		</div>
	</div>
</div>


<div id="option" class="grey">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<h1>Cosas para <span class="curly">ella</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4">
				<div id="prov_image">
				<%= image_tag "prueba.jpg" %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ella -->


<div id="option">
	<div class="container">
		<div class="row">

			<div class="col-md-4 hidden-sm hidden-xs">
				<div id="prov_image">
				<%= image_tag "prueba.jpg" %>
				</div>
			</div>

			<div class="col-md-8">
			<h1>Cosas para <span class="curly">él</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4 visible-sm visible-xs">
				<div id="prov_image">
				<%= image_tag "prueba.jpg" %>
				</div>
			</div>


		</div>
	</div>
</div>





<!-- todos -->

<div id="option" class="grey">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			<h1>Cosas para <span class="curly">todos</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fuga dolore, placeat. Officia, molestiae. Fugiat rerum accusantium in.</p>
			<div class="row">
				<div id="coups">
				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				<div class="col-xs-6 col-md-3">
					<div id="prov">
					<%= image_tag "logo2.png" %>
					<h3>Brides & Dreams</h3>
					<p>Vestidos</p>
				</div>
				</div>

				</div>
			</div>
			</div>

			<div class="col-md-4">
				<div id="prov_image">
				<%= image_tag "prueba.jpg" %>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="option">
	<div class="container">
		<h1>
			Tips y consejos para tus <span class="curly">eventos</span>
		</h1>
		<p>Sabemos que organizar un evento puede ser complicado si no tienes experiencia. <br>
Revisa los tips y consejos que te damos para antes, durante y después de tus eventos.</p>
<div class="row">
	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div id="eventos">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h2>Lo mejor para ese día</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ea, aut, quas natus laboriosam distinctio amet reprehenderit quibusdam alias, pariatur esse.</p>
		</div>
	</div>
</div>
<div class="but">
<%= link_to "Ver todos los tips", root_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>




<div id="option" class="grey">
	<div class="container">
		<h1>
			<span class="curly">Eventos</span> tan reales como el tuyo
		</h1>
		<p>Te dejamos algunas muestras de eventos reales para que te inspires
		</p>
<div class="row">
	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h3>xv años</h3>
			<h2>XV Rebeca</h2>
			<p>12 de diciembre 2010<p>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h3>Boda</h3>
			<h2>Charly & Lola</h2>
			<p>12 de diciembre 2010<p>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div id="eventos_reales">
			<div class="imagen">
			<%= image_tag "prueba.jpg" %>
			</div>
			<h3>Graduación</h3>
			<h2>Graduación Sucre 2017 nuevos alumnos</h2>
			<p>12 de diciembre 2010<p>
		</div>
	</div>

</div>
<div class="but">
<%= link_to "Ver todos los eventos", root_path, class: "button button_purple button_center" %>
</div>
	</div>
</div>