<div id= "banner" class="cover_about">
	<div id="fondi">
		<div id="backi">
	<h1 class="">Acerca de <span class="curly">Nosotros</span></h1> <br>
		</div>
	</div>
</div>


<div id="option">
	<div class="container">
	<h1>Nosotros</h1>
	<hr>
	<p>
		Somos una organización líder en realizar “momentos únicos e inolvidables”
en Guatemala. Portal de Bodas y Eventos abrió sus puertas en Julio del año
2005, con la visión de ofrecer los mejores servicios para eventos en un solo
lugar. <br> Con el objetivo de facilitar a las parejas próximas a casarse,
quinceañeras, graduandos, etc. contratar los servicios para su evento en un
ambiente cómodo, agradable y confiable.
</p>

<br><div class="owl-carousel">
          <div> <%= image_tag "us01.png" %> </div>
          <div> <%= image_tag "us02.png" %> </div>
          <div> <%= image_tag "us03.png" %> </div>
          <div> <%= image_tag "us04.png" %> </div>
				</div>

</div>
</div>


<div id="option">
	<div class="container">
	<h1>Nuestra trayectoria</h1>
	<hr>
	<p>
En Julio del año 2005, con la asistencia de más de 250 personas se abrió
Portal de Bodas y Eventos oficialmente al público con un show de vestidos de
novia y fiesta. <br> A lo largo de estos años se han renovado y agregado servicios
de acuerdo a las necesidades de cada tipo de evento. <br>
Ofreciendo en la actualidad Vestidos y accesorios Importados, Fotografía y
Video, Disco, Grupo en Vivo, Trajes de Alquiler, Jardín para Eventos,
Decoración, Invitaciones, Salón de Belleza, Pastel, Agencia de Viajes, Cabinas
de Fotos, Joyería, Tenis de novia y Quinceañera, Detalles personalizados para
eventos y Mobiliario.
</p>

	<br><br><br>
	<h1>Festivales</h1>
	<hr>
	<p>
Hemos realizado más de 50 Festivales de Bodas y Quinceaños, en los cuales
nuestros asistentes disfrutan de promociones y descuentos especiales en
todos los servicios. <br> Además de un show inolvidable, con música en vivo y las
últimas tendencias de moda a nivel mundial que se presentan durante el
show de vestidos y trajes importados.
</p>

<br><div class="owl-carousel">
          <div> <%= image_tag "us05.png" %> </div>
          <div> <%= image_tag "us06.png" %> </div>
          <div> <%= image_tag "us07.png" %> </div>
          <div> <%= image_tag "us08.png" %> </div>
				</div>

	<br><br><br>
	<h1>Eventos Atendidos</h1>
	<hr>
	<p>
A lo largo de estos años hemos atendido más de 20,000 eventos, los cuales
han confiado en los servicios de Portal de Bodas y Eventos. Nos encantaría
ser parte de ese evento especial y que puedas tener la experiencia y
comodidad de realizar tu evento con nosotros… Portal de Bodas y Eventos!
</p>

<br><div class="owl-carousel">
          <div> <%= image_tag "us09.png" %> </div>
          <div> <%= image_tag "us10.png" %> </div>
          <div> <%= image_tag "us11.png" %> </div>
          <div> <%= image_tag "us12.png" %> </div>
</div>

</div>
</div>






<script>
	$(".owl-carousel").owlCarousel(
		{
		items:4,
    margin:10,
    autoWidth:true
		});
</script>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>