<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :nombre %><br>
  <%= f.text_field :nombre, required:true %>
</div>

<div class="field">
  <%= f.label :tags %><br>
  <%= f.text_field :tags, required:true %>
</div>

<div class="field">
  <%= f.label :categoria %><br>
  <%= f.select :categoria, [["Boda"], ["Graduaciones"], ["Xv años"], ["Comuniones"], ["Otros"]], {:prompt => '¿Para qué evento es el contacto?'} %>
</div>
<div class="field">
  <%= f.label :video_url %><br>
  <%= f.text_field :video_url %>
</div>
<div class="field">
  <%= f.label :content %><br>
  <%= f.cktext_area :content %>
</div>
<div class="field">
  <%= f.label :fecha %><br>
  <%= f.date_field :fecha %>
</div>
<div class="field">
  <%= f.label :lugar %><br>
  <%= f.text_field :lugar, required:true %>
</div>

<div class="row">
  <div class="field">
    <%= f.label "Provedores" %><br />
    <%= f.collection_check_boxes :provider_ids, Provider.all, :id, :nombre do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">              
      <span class="btn btn-default">
        <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
        <%= f.file_field :image, name: "event_attachments[image][]" %>
      </span>
    </div>    
  </div>
</div>

<div id="photos_e"><%= render 'event_attachments/list' %></div>


<div class="actions">
  <%= f.submit class: "button button_purple" %><%= link_to "Ver Evento", @event, class: "button button_yellow" %>
</div> 
<% end %>

<br><br>