<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br>
    <%= f.text_field :video_url %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha %>
  </div>
  <div class="field">
    <%= f.label :lugar %><br>
    <%= f.text_field :lugar %>
  </div>

  <div class="row">
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_brides %><br>
    <%= f.check_box :is_brides %>
  </div>
  <div class="field">
    <%= f.label :brides %><br>
    <%= f.text_field :brides %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_tux %><br>
    <%= f.check_box :is_tux %>
  </div>
  <div class="field">
    <%= f.label :tux %><br>
    <%= f.text_field :tux %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_pasteles %><br>
    <%= f.check_box :is_pasteles %>
  </div>
  <div class="field">
    <%= f.label :pasteles %><br>
    <%= f.text_field :pasteles %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_latingraf %><br>
    <%= f.check_box :is_latingraf %>
  </div>
  <div class="field">
    <%= f.label :latingraf %><br>
    <%= f.text_field :latingraf %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_detalles %><br>
    <%= f.check_box :is_detalles %>
  </div>
  <div class="field">
    <%= f.label :detalles %><br>
    <%= f.text_field :detalles %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_latino %><br>
    <%= f.check_box :is_latino %>
  </div>
  <div class="field">
    <%= f.label :latino %><br>
    <%= f.text_field :latino %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_nissi %><br>
    <%= f.check_box :is_nissi %>
  </div>
  <div class="field">
    <%= f.label :nissi %><br>
    <%= f.text_field :nissi %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_gabriella %><br>
    <%= f.check_box :is_gabriella %>
  </div>
  <div class="field">
    <%= f.label :gabriella %><br>
    <%= f.text_field :gabriella %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_pixen %><br>
    <%= f.check_box :is_pixen %>
  </div>
  <div class="field">
    <%= f.label :pixen %><br>
    <%= f.text_field :pixen %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_vacama %><br>
    <%= f.check_box :is_pelo %>
  </div>
  <div class="field">
    <%= f.label :Vacama_s_a %><br>
    <%= f.text_field :pelo %>
  </div>
  </div>
  
  <div class="col-sm-4">
  <div class="field">
    <%= f.label :is_joymas %><br>
    <%= f.check_box :is_joymas %>
  </div>
  <div class="field">
    <%= f.label :joymas %><br>
    <%= f.text_field :joymas %>
  </div>
  </div>

  </div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">              
      <span class="btn btn-default">
        <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
        <%= f.file_field :image, name: "event_attachments[image][]" %>
      </span>
    </div>    
  </div>
</div>

<div id="photos_e"><%= render 'event_attachments/list' %></div>
   

  <div class="actions">
    <%= f.submit class: "button button_purple" %><%= link_to "Ver Evento", @event, class: "button button_yellow" %>
  </div> 
<% end %>

<br><br>