<div id="option">
  <div class="container">
    <h1>
      <span class="curly">Eventos</span> tan reales como tú..
    </h1>
    <p>Te dejamos algunas muestras de eventos reales para que te inspires
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="info_evento3">
        <h2>Buscar eventos</h2>
        <hr>

<div id="busqui2">
<%= search_form_for @q do |f| %>
<%= f.search_field :nombre_cont, placeholder: "Busca eventos.."  %>

<div class="row">
 <div class="col-md-4 col-xs-6">
  <span> <%= f.check_box :categoria_eq, {:class => "hidden", :id => "EuropeP"}, "Boda", false %>
  <label for="EuropeP" class="botones button_red"><%= image_tag "portal_icon-02.svg" %> <br>Boda</label></span>
  </div>

  <div class="col-md-4 col-xs-6">
  <span> <%= f.check_box :categoria_eq, {:class => "hidden", :id => "AfricaP"}, "Graduaciones", false %>
  <label for="AfricaP" class="botones button_red">
    <%= image_tag "portal_icon-01.svg" %> <br> Graduaciones</label></span>
  </div>

  <div class="col-md-4 col-xs-6">
  <span> <%= f.check_box :categoria_eq, {:class => "hidden", :id => "AsiaP"}, "Xv años", false %>
  <label for="AsiaP" class="botones button_red">
    <%= image_tag "portal_icon-14-02.svg" %> <br> Xv años</label></span>
  </div>

  <div class="col-md-4 col-xs-6">
  <span> <%= f.check_box :categoria_eq, {:class => "hidden", :id => "North_AmericaP"}, "Comuniones", false %>
  <label for="North_AmericaP" class="botones button_red">
    <%= image_tag "portal_icon-14-01.svg" %> <br> Comuniones</label></span>
  </div>

  <div class="col-md-4 col-xs-6">
  <span> <%= f.check_box :categoria_eq, {:class => "hidden", :id => "South_AmericaP"}, "Otros", false %>
  <label for="South_AmericaP" class="botones button_red">
    <%= image_tag "portal_icon-14-03.svg" %> <br> Otros</label></span>
  </div> 

</div>


<br><br><br>
<%= f.submit "Buscar", class: "button button_purple button_block" %>
<% end %>
</div>

      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-md-6 col-sm-6">
          <div id="eventos_reales">
            <%= link_to event do %>
            <div class="imagen">
              <%= image_tag event.event_attachments[0].image.url %>
            </div>
            <h3><%=event.categoria %></h3>
            <h2><%=event.nombre %></h2>
            <p><%=event.fecha %><p>
            <h5><%=event.lugar %></h5>
             <h6 class="star-rating" data-score=<%=event.average_rating%>> </h6>
            <% end %>
    </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="center">
  <%= will_paginate @events %>
  </div>
</div>



<br>
<div class="container">
<% if current_user %>
<%= link_to 'New Event', new_event_path %>
<% end %>
</div>





<script>
    $('.star-rating').raty({
      path: '/images/harty',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>