<div id="option">
  <div class="container">
    <h1>
      <span class="curly">Eventos</span> tan reales como tú..
    </h1>
    <p>Te dejamos algunas muestras de eventos reales para que te inspires
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="info_evento3">
        <h2>Buscar eventos</h2>
        <hr>

<div id="busqui2">
<%= search_form_for @q do |f| %>
<%= f.search_field :nombre_cont, placeholder: "Busca eventos.."  %>

<div class="row">

  <div class="col-xs-6">
  <span> <%= f.check_box :is_brides_eq, :value => true, :id => 'Wifi', class: "hidden" %>

  <label for="Wifi" class=""><%= image_tag "portal_icon-01.svg" %> <br>
  Brides & Dreams
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_tux_eq, :value => true, :id => 'CafeP', class: "hidden" %>

  <label for="CafeP" class=""><%= image_tag "portal_icon-02.svg" %> <br>
  Tux & More
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_pasteles_eq, :value => true, :id => 'LibrayP', class: "hidden" %>

  <label for="LibrayP" class=""><%= image_tag "portal_icon-03.svg" %> <br>
  Pasteles D’Claudia
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_latingraf_eq, :value => true, :id => 'GymP', class: "hidden" %>

  <label for="GymP" class=""><%= image_tag "portal_icon-04.svg" %> <br>
  LatinGraf
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_detalles_eq, :value => true, :id => 'LocationP', class: "hidden" %>

  <label for="LocationP" class=""><%= image_tag "portal_icon-05.svg" %> <br>
  Detalles Mágicos
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_latino_eq, :value => true, :id => 'LunchP', class: "hidden" %>

  <label for="LunchP" class=""><%= image_tag "portal_icon-06.svg" %> <br>
  Son Latino
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_nissi_eq, :value => true, :id => 'JobP', class: "hidden" %>

  <label for="JobP" class=""><%= image_tag "portal_icon-07.svg" %> <br>
  Nissi
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_gabriella_eq, :value => true, :id => 'StudyP', class: "hidden" %>

  <label for="StudyP" class=""><%= image_tag "portal_icon-08.svg" %> <br>
  Gabriella Padilla
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_pixen_eq, :value => true, :id => 'SafeP', class: "hidden" %>

  <label for="SafeP" class=""><%= image_tag "portal_icon-09.svg" %> <br>
  Pixen Foto
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_pelo_eq, :value => true, :id => 'PoolP', class: "hidden" %>

  <label for="PoolP" class=""><%= image_tag "portal_icon-10.svg" %> <br>
  Vacama S.A.
  </label></span>
  </div>

  <div class="col-xs-6">
  <span> <%= f.check_box :is_joymas_eq, :value => true, :id => 'ResidenceP', class: "hidden" %>

  <label for="ResidenceP" class=""><%= image_tag "portal_icon-11.svg" %> <br>
  Joymas
  </label></span>
  </div>

</div>  


<br><br><br>
<%= f.submit "Buscar", class: "button button_purple button_block" %>
<% end %>
</div>

      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-md-6 col-sm-6">
          <div id="eventos_reales">
            <%= link_to event do %>
            <div class="imagen">
              <%= image_tag event.event_attachments[0].image.url %>
            </div>
            <h3><%=event.categoria %></h3>
            <h2><%=event.nombre %></h2>
            <p><%=event.fecha %><p>
            <h5><%=event.lugar %></h5>
             <h6 class="star-rating" data-score=<%=event.average_rating%>> </h6>
            <% end %>
    </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="center">
  <%= will_paginate @events %>
  </div>
</div>



<br>
<div class="container">
<% if current_user %>
<%= link_to 'New Event', new_event_path %>
<% end %>
</div>





<script>
    $('.star-rating').raty({
      path: '/assets/apps',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>