<div id="eventoos">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="n_evento">
        <%= image_tag @event.event_attachments[0].image.url %>
        <p><%= @event.content.html_safe %></p>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

              <% if @event_attachments %>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @event_attachments.drop(1).each do |event_attachment| %>
                <li data-target="#myCarousel" data-slide-to="<%= event_attachment.id %>"></li>
                <% end %> 
              </ol>       
              <% end %>     

              <div class="carousel-inner" role="listbox">
                <% if @event_attachments %>        
                <% @event_attachments.drop(1).each do |event_attachment| %>
                <div class="item <%= 'active' if event_attachment.id == @event_attachments[1].id %>">          
                  <%= image_tag event_attachment.image.url %>
                </div>
                <% end %> 
                <% end %>
              </div>

              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- End Carousel -->

      </div>
    </div>
    <div class="col-md-4">
      <div id="info_evento">
        <h1><%=@event.nombre %></h1>
        <h6 class="star-rating" data-score=<%=@event.average_rating%>> </h6>
        <h4><%=@event.lugar%></h4>
        <h6><%=@event.fecha%></h6>
      </div>

      <% if @event.video_url.present? %>
      <div id="info_evento2">
        <h2>Video del evento</h2>
        <hr>
      <iframe src='https://www.youtube.com/embed/<%= @event.video_url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
      </div>
      <% end %>


      <div id="info_evento2">
        <h2>Servicios Portal de Bodas</h2>
        <hr>

      <% if @event.is_brides == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Brides & Dreams</h3>
        <p><%= @event.brides %></p>
        <% end %>
      <% end %>

      <% if @event.is_tux == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Tux & More</h3>
        <p><%= @event.tux %></p>
        <% end %>
      <% end %>

      <% if @event.is_pasteles == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Pasteles D’Claudia</h3>
        <p><%= @event.pasteles %></p>
        <% end %>
      <% end %>

      <% if @event.is_latingraf == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>LatinGraf</h3>
        <p><%= @event.latingraf %></p>
        <% end %>
      <% end %>

      <% if @event.is_detalles == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Detalles Mágicos</h3>
        <p><%= @event.detalles %></p>
        <% end %>
      <% end %>

      <% if @event.is_latino == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Son Latino</h3>
        <p><%= @event.latino %></p>
        <% end %>
      <% end %>

      <% if @event.is_nissi == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Nissi</h3>
        <p><%= @event.nissi %></p>
        <% end %>
      <% end %>

      <% if @event.is_gabriella == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Gabriella Padilla</h3>
        <p><%= @event.gabriella %></p>
        <% end %>
      <% end %>

      <% if @event.is_pixen == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Pixen Foto</h3>
        <p><%= @event.pixen %></p>
        <% end %>
      <% end %>

      <% if @event.is_pelo == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Pelo Pelo</h3>
        <p><%= @event.pelo %></p>
        <% end %>
      <% end %>

      <% if @event.is_joymas == true %>
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <h3>Joymas</h3>
        <p><%= @event.joymas %></p>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>
</div>
</div>


<div class="container">
  <div id="magici">
<div id="comments">
  <%= form_for [@event, @comment] do |f| %>

      <div class="row">
      <div class="col-sm-6">
      <div class="field">
        <%= f.label :Nombre %><br>
        <%= f.text_field :nombre, required:true  %>
      </div>
      </div>
      </div>

      
      <div class="field">
        <%= f.label :mensaje %><br>
        <%= f.text_area :mensaje, required:true  %>
      </div>
      
      <div class="row"> 
      <div class="col-xs-4">
      <div class="field">
        <%= f.label :servicio %><br>
        <div id="star-rating1"></div>
      </div>
      </div>
      </div>

<br><br>
      <div class="actions">
        <%= f.submit "Añadir Comentario", class: "button button_yellow" %> <br><br>
      </div>

  <% end %>

  </div>
  </div>
</div>



<div class="container">
  <div id="magici">
  <% @comments.each_with_index do |comment, i| %>
  <div class="col-sm-6">
  <div id="cuadro">
  <h3><%= comment.nombre %></h3>
  <p class="down"><%= comment.try(:mensaje).truncate(250) %></p>
  
  <div class="row">
  
  <div class="col-xs-4">
  <p>Servicio:</p>
  <h6 class="star-rating" data-score=<%=comment.rating%>> </h6>
</div>
  
  </div>
  <% if current_user %>
  <br>
  <%= link_to "Eliminar Comentario", event_comment_path(@event, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </div>
  </div>
  <% end %>
</div>
</div>

<div class="container">
  <div class="center">
  <%= will_paginate @comments %>
  </div>
</div>


<div class="container">
<% if current_user %>
<%= link_to 'Editar Evento', edit_event_path(@event) %>
<% end %>
</div>



<script>
    $('.star-rating').raty({
      path: '/assets/apps',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>


<script>
  $('#star-rating1').raty({
    path: '/assets/apps',
    scoreName: 'comment[rating]'
  });
</script>