<%= form_for [@provider, @appointment] do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.datetime_select :start %>
  </div>

  <div class="field">
    <%= f.label :final %><br>
    <%= f.datetime_select :end %>
  </div>

<hr>
  <div class="field">
    <%= f.label :evento %><br>
    <%= f.select :evento, [["Boda"], ["Graduaciones"], ["Xv años"], ["Comuniones"], ["Otros"]], {:prompt => '¿Para qué evento es la cita?'} %>
  </div>
  
  <div class="field">
    <%= f.label :servicio_tienda %><br>
    <%= f.text_field :servicio_tienda %>
  </div>
  <div class="field">
    <%= f.label :servicio_domicilio %><br>
    <%= f.text_field :servicio_domicilio %>
  </div>

  <hr>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.email_field :correo %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :status_one %><br>
    <%= f.select :status_one, [["Por confirmar"], ["Confirmado"]] %>
  </div>
  <div class="field">
    <%= f.label :status_two %><br>
    <%= f.select :status_two, [["Llegó"], ["Terminado"], ["No llegó"]] %>
  </div> <br>
  <div class="actions">
    <%= f.submit class: "button button_purple" %> <br><br>
  </div>
<% end %>
